<div class="content-list itens-5">
    <div style="height: 75vh; background-color: white; padding: 80px;" class="d-flex" id="main-home">
        <div style="height: 100%; width: 40%;">
            <div style="height: 30%;">
                <img src="/assets/images/logo.png" style="width: 150px;" />
            </div>
            <div><h1 class="text-primary" style="font-weight: 700;">Uma ferramenta simples para você gerenciar seu histórico médico</h1></div>
            <div><h6 id="subtitulo">Organize seus exames, prescrições médicas e vacinas em um só lugar. Compartilhe seus exames com os seus médicos de confiança de forma prática e segura.</h6></div>
        </div>
        <div style="height: 100%; width: 30%;" class="d-flex align-items-center justify-content-center">
            <img src="/assets/images/img-home-1.png" style="width: 250px;" />
        </div>
        <div style="height: 100%; width: 30%;" class="d-flex flex-column justify-content-center align-items-center">
            <img src="/assets/images/img-home-2.png" style="width: 200px;" />
            <br/>
            <img src="/assets/images/img-home-3.png" style="width: 150px;" />
        </div>
    </div>
</div>