$breakpoint-sm: 768px;
$breakpoint-md: 992px;

#title{
    margin-top: 40px;
    
    h5{
        color: gray;
    }
}

form{
    margin-top: 40px;
}

.image-side{
    @media (max-width: $breakpoint-md) {
        height: 0;
        padding: 0;
        width: 0;
    }
}

.doctor{
    @media (min-width: $breakpoint-md) {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        background-image: url('/assets/images/escolhido-medico.png');
    }
}

.back{
    font-size: 2em;
    margin-top: 14px;
}