<div id="princial">
    <h2 class="text-primary">Alterar Senha</h2>
    <div>
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
            <label class="form-group has-float-label">
                <input class="form-control" type="text" formControlName="email" />
                <span>Email</span>
            </label>
            <label class="form-group has-float-label">
                <input class="form-control" type="password" formControlName="password" />
                <span>Senha Atual</span>
                <div *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched" class="invalid-tooltip">Informe a senha atual</div>
                <div *ngIf="form.get('password')?.errors?.maxLength && form.get('password')?.touched" class="invalid-tooltip">A senha deve ter no máximo 15 caracteres</div>
            </label>
            <label class="form-group has-float-label">
                <input class="form-control" type="password" formControlName="newPassword" />
                <span>Nova Senha</span>
                <div *ngIf="form.get('newPassword')?.errors?.required && form.get('newPassword')?.touched" class="invalid-tooltip">Informe a nova senha</div>
                <div *ngIf="form.get('newPassword')?.errors?.maxLength && form.get('newPassword')?.touched" class="invalid-tooltip">A nova senha deve ter no máximo 15 caracteres</div>
            </label>
            <label class="form-group has-float-label">
                <input class="form-control" type="password" formControlName="confirmNewPassword" />
                <span>Confirme a nova senha</span>
                <div *ngIf="form.get('confirmNewPassword')?.errors?.required && form.get('confirmNewPassword')?.touched" class="invalid-tooltip">Informe a confirmação da senha</div>
                <div *ngIf="form.get('confirmNewPassword')?.errors?.maxLength && form.get('confirmNewPassword')?.touched" class="invalid-tooltip">A confirmação da senha deve ter no máximo 15 caracteres</div>
                <div *ngIf="form.get('confirmNewPassword')?.errors?.equalTo && form.get('confirmNewPassword')?.touched" class="invalid-tooltip">As senha não conferem</div>
            </label>
            <div class="text-center">
              <button type="submit" [disabled]="loading" class="btn btn-primary">
                {{ loading ? 'Salvando' : 'Salvar' }}
                <i class="fa fa-spinner fa-spin" *ngIf="loading" style="margin-left: 5px;"></i>
              </button>
            </div>
          </form>
    </div>
</div>