<div class="content-list itens-3">

    <h2>Vacinas</h2>

    <app-search 
        [orderItems]="" 
        [(order)]="order"
        [(pageSize)]="pageSize"
        [(search)]="search"
        (get)="getPaged()"
        [createRouter]="'/admin/vaccine/create'"></app-search>
    <div>
        <div class="table">
            <div class="thead">
                <div class="row">
                    <div class="col-sm-5 p-2">Nome</div>
                    <div class="col-sm-4 p-2">Status</div>
                    <div class="col-sm-3 p-2"></div>
                </div>
            </div>
            <div class="tbody">
                <div class="row" *ngFor="let vaccine of vaccines">
                    <div class="ccard col-sm-5 p-2">
                        <div class="col-card">Nome</div>
                        <div class="dado">{{ vaccine.name }}</div>
                    </div>
                    <div class="ccard col-sm-4 p-2">
                        <div class="col-card">Status</div>
                        <div class="dado"><span [status]="vaccine.isActive"></span></div>
                    </div>
                    <div class="ccard col-sm-3 actions">
                        <a [routerLink]="['/admin/vaccine/edit', vaccine.id]" routerLinkActive="router-link-active"><i class="fas fa-pen"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-pagination *ngIf="amount > 0" [(page)]="page" [pageSize]="pageSize" [collectionSize]="amount" (getPaged)="getPaged()"></app-pagination>

</div>