<div id="princial">
    <div class="d-flex justify-content-between">
        <a [routerLink]="['/admin/exam-type/list']" routerLinkActive="router-link-active" >
          <div class="back">
            <i class="simple-icon-arrow-left"></i>
          </div>
        </a>
        <h2 class="text-primary">Editar Exame</h2>
        <div></div>
    </div>
    <div>
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="createForm">
            <label class="form-group has-float-label">
              <input class="form-control" type="text" formControlName="name" />
              <span>Nome</span>
              <div *ngIf="createForm.get('name')?.errors?.required && createForm.get('name')?.touched" class="invalid-tooltip">Informe o nome</div>
              <div *ngIf="createForm.get('name')?.errors?.maxLength && createForm.get('name')?.touched" class="invalid-tooltip">O nome de ter no máximo 50 caracteres</div>
            </label>
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" id="active" class="custom-control-input" formControlName="isActive"/>
                <label for="active" class="custom-control-label">Ativo</label>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="loading" class="btn btn-primary">
                {{ loading ? 'Salvando' : 'Salvar' }}
                <i class="fa fa-spinner fa-spin" *ngIf="loading" style="margin-left: 5px;"></i>
              </button>
            </div>
          </form>
    </div>
</div>