<div class="card auth-card">
  <div class="position-relative image-side forgot-password"></div>
  <div class="form-side">
    <div class="d-flex justify-content-between">
      <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >
        <div class="back">
          <i class="simple-icon-arrow-left"></i>
        </div>
      </a>
      <div class="custom-logo">
        <img src="/assets/images/logo.png" />
      </div>
      <div></div>
    </div>
    <h6>Insira seu email de acesso para recuperar sua senha</h6>
    <form novalidate  (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
      <label class="form-group has-float-label">
        <input class="form-control" name="email" formControlName="email"/>
        <span>Email</span>
        <div *ngIf="displayMessage.email" class="invalid-tooltip">
          <span [innerHTML]="displayMessage.email"></span>
        </div>
      </label>
      <div class="d-flex justify-content-end">
        <button type="submit" [disabled]="loading" class="btn btn-primary">
          {{ loading ? 'Enviando' : 'Enviar' }}
          <i class="fa fa-spinner fa-spin" *ngIf="loading" style="margin-left: 5px;"></i>
        </button>
      </div>
    </form >

  </div>
</div>
<!-- <simple-notifications></simple-notifications> -->
